.page-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 95vh;
}

.section-heading {
    font-weight: 500;
    font-size: 18px;
}

.left {
    border-right: 1px solid gray;
    padding-right: 10px;
    width: 20%;
    height: 99vh;
    overflow-y: auto;
}

.right {
    width: 80%;
}

.form-container {
    border-bottom: 4px solid blue;
    border-top: 4px solid blue;
    padding-bottom: 20px;
}

.form-label {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.right-container {
    position: relative;
    height: 100%;
}

.form-label-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}
.a-center {
    align-items: center;
}

.menuItem {
    gap: 20px;
}

.pointer {
    cursor: pointer;
}